.header-container {
    background-color: #131921;
}

.navbar-container {
    display: flex;
    flex-direction: column;
}

.navbar-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-bottom-container {
    background-color: #262f40;
    margin-top: 10px;
}

.navlogo img {
    height: 40px;
}

.nav_searchbaar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50px;
}

.nav_searchbaar input[type="text"] {
    padding: 5px 30px;
    border: none;
    background-color: #fff;
    color: black;
    width: 300px;
    outline: none;
    border-radius: 50px;
}

.search_icon {
    color: #fff;
    cursor: pointer;
}

.hamburgur {
    display: none;
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}

.navbar-bottom-container ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar-bottom-container ul li :hover {
    color: #bfbfbf;
    cursor: pointer;
}

.navbar-bottom-container ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.right {
    display: flex;
    align-items: center;
}

.cart_btn {
    margin-right: 20px;
    color: #fff;
}
.cart_btn svg {
    font-size: 35px;
}

.avtar {
    color: #fff;
    cursor: pointer;
    margin-right: 20px;
}

.nav_btn {
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}
.nav_btn:hover {
    border: 1px solid #fff;
    background-color: #131921;
    color: #fff;
}

.bottom-right {
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: right;
    overflow: hidden;
}

.bottom-right h3 {
    animation: slideIn 12s linear infinite;
    white-space: nowrap;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-70%);
    }
}

@media screen and (max-width: 768px) {
    .hamburgur {
        display: block;
    }

    .navbar-bottom-container {
        margin-top: 20px;
    }

    .nav_searchbaar {
        justify-content: flex-start;
    }

    .right {
        flex-direction: column;
        align-items: flex-end;
    }

    .right .cart_btn {
        margin-right: 0;
        margin-top: 10px;
    }
}
