.best-sellers-container {
    padding: 50px 0;
    min-height: 638px;
    background: #131921;
    background: linear-gradient(to bottom, #131921, #000000);
}

/* Responsive Styles */

@media (max-width: 1024px) {
    .best-sellers-list {
        justify-content: space-between;
    }

    .best-sellers-product-item {
        width: calc(50% - 8px);
        max-width: 352px;
        margin-bottom: 16px;
    }
}

@media (max-width: 768px) {
    .best-sellers-list {
        flex-wrap: wrap;
    }

    .best-sellers-product-item {
        width: 100%;
        max-width: 352px;
        margin-bottom: 16px;
    }
}
