.commit-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.commit {
    flex: 15%;
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
    border: 2px solid black;
    border-radius: 20px;
}

.commit:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.commit-heading,
.commit-description {
    color: #526d82;
    font-size: 14px;
}

.commit-heading {
    margin: 8px;
    text-align: center;
    font-size: 16px;
    color: black;
}

.commit-img {
    display: block;
    margin: 15px auto;
}

@media (max-width: 800px) {
    .commit {
        flex: 45%;
        margin-left: 1%;
        margin-right: 1%;
    }
}
