#sub_btn {
  padding: .3rem;
  border: none;
  border-radius: 3px;
  
}

#sub_btn:hover {
  background: #333;
  transition: all .5s
}
.m-5-auto {
  margin: 5rem auto
}
.right-label {
  float: right;
  cursor: pointer
}