.cart-main {
    display: flex;
    flex-wrap: wrap;
}

.cart-left {
    flex: 60%;
}
.cart-right {
    border-radius: 13px;
    border: 1px solid rgb(147, 147, 147);
}
.order-button {
    border: 1px solid black;
}
.stock-filter {
    color: #007600;
    font-weight: bold;
}
.order-button:hover {
    background-color: white;
    border: 1px solid rgb(138, 138, 138);
    color: black;
}

.cart-item:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 50px #ccc;
}
.quantity-button {
    border: 2px solid black;
}

@media (max-width: 768px) {
    .cart-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 10px;
    }

    .cart-left,
    .cart-right {
        width: 100%;
        padding: 20px 10px;
        margin: 0 5px;
    }
    .cart-right {
        padding: 0 10px;
    }
    .order-line {
        width: 100%;
    }
}
